body {
    font-family: "Calibri", sans-serif;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff1f9;
}

h1 {
    color: #222;
}

p{
    font-size: 1.1em;
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 12px rgba(0,0,0,0.1);
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
}

button {
    background-color: #FF69B4;
    color: white;
    border: none;
    font-weight: bold;
    padding: 12px 18px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #a1346a;
}

.result {
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 12px rgba(0,0,0,0.1);
}

.genre {
    display: inline-block;
    background: #ffd2e8;
    color: #FF69B4;
    padding: 8px 12px;
    margin: 6px 6px 0 0;
    border-radius: 5px;
    font-weight: bolder;

}

.message {
    margin-top: 20px;
    color: #b00020;
    font-weight: bold;
}